* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

header {
  background-color: #969494;
  opacity: 80%;
  width: 100%;
  position: fixed;
}

.main-nav {
  display: flex;
  height: 15%;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  color: white;
  margin-right: auto;
  line-height: 52px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  display: flex;
  line-height: 52px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}

.navlinks li a:hover {
  color: white;
  padding-bottom: 7px;
}

.Midden {
  display: flex;
  height: 792px;
  width: 100%;
  background-color: #2a4a47;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.Midden h1 {
  color: white;
  font-size: 83px;
}

.Midden .Info {
  display: flex;
  background-color: transparent;
  height: 200px;
  width: 200px;
}

.Mid {
  display: flex;
  background-color: #1b472e66;
  height: 792px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Mid h1 {
  margin: 30px;
  font-size: 70px;
}
.Mid .Menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1111px;
}

.Mid .Menu1 {
  display: flex;
  background-color: transparent;
  height: 200px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Mid .Menu2 {
  display: flex;
  background-color: transparent;
  height: 200px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Mid .Menu3 {
  display: flex;
  background-color: transparent;
  height: 200px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Mid .Menu4 {
  display: flex;
  background-color: transparent;
  height: 200px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Mid .Menu5 {
  display: flex;
  background-color: transparent;
  height: 200px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Mid .Menu6 {
  display: flex;
  background-color: transparent;
  height: 200px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Mid .Menu7 {
  display: flex;
  background-color: transparent;
  height: 200px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Mid .Menu8 {
  display: flex;
  background-color: transparent;
  height: 200px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Mid .Menu9 {
  display: flex;
  background-color: transparent;
  height: 200px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Mid .Menu10 {
  display: flex;
  background-color: transparent;
  height: 200px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Mid .Menu1 img {
  height: 190px;
  width: 200px;
}

.Mid .Menu2 img {
  height: 190px;
  width: 200px;
}

.Mid .Menu3 img {
  height: 190px;
  width: 200px;
}

.Mid .Menu4 img {
  height: 190px;
  width: 200px;
}
.Mid .Menu5 img {
  height: 190px;
  width: 200px;
}

.Mid .Menu6 img {
  height: 190px;
  width: 200px;
}
.Mid .Menu7 img {
  height: 190px;
  width: 200px;
}

.Mid .Menu8 img {
  height: 190px;
  width: 200px;
}
.Mid .Menu9 img {
  height: 190px;
  width: 200px;
}

.Mid2 {
  display: flex;
  background-color: #1b472e66;
  height: 792px;
  width: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.Mid2 .Pizzamid {
  background-color: #a0b0a7;
  height: 396px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.Mid2 .Pizzamid1 {
  background-color: rgb(165, 76, 76);
  height: 396px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.Mid2 .Pizzamid2 {
  background-color: rgb(67, 34, 132);
  height: 396px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.Mid2 .Pizzamid3 {
  background-color: rgb(96, 23, 23);
  height: 396px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  position: fixed;
  top: 623px;
  display: flex;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: rgb(32, 178, 47);
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
